@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Caching.Memory
@inject IHttpContextAccessor HttpContextAccessor
@inject IMemoryCache memoryCache;
@{
    var isLoged = false;
    var isAdmin = false;
    var accessToken = HttpContextAccessor.HttpContext.Session.GetString("accessToken");
    if (accessToken != null)
    {
        isLoged = true;
        var user = memoryCache.Get<JWT>("CacheUser").user;
        if (user.GdrId == 1) {isAdmin = true;}
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DocNet</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @if (@isLoged == true)
                    {
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Practices" asp-action="ListPractices">Practices</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Treatment" asp-action="TreatmentView">Treatment</a>
                                </li>
                              
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Conditions" asp-action="ConditionsView">Condition</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="ListReports">My Reports</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Patients" asp-action="ListPatients">My Patients</a>
                                </li>
                                @if (@isAdmin == true)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="ListUsers">Users</a>
                                    </li>
                                }
                            </ul>
                            
                            <div class="form-inline my-2 my-lg-0">
                            <ul style="margin-bottom: 0px;">
                                <li class="mr-sm-2"  style="list-style-type: none;">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="GetProfile">Profile</a>
                                </li>
                            </ul>
                            <ul style="margin-bottom: 0px;">
                                <li class="mr-sm-2"  style="list-style-type: none;">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
                                </li>
                            </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Docnet
        </div>
    </footer>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>