@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-1">
            <img src="https://static.thenounproject.com/png/625410-200.png"/>
        </div>
        <div class="col-sm">
         <div class="container" style="text-align: center">
                 <h1 class="text-danger">Server Error.</h1>
                 <h2 class="text-danger center">502.</h2>
                 <p style=""> Please retry later</p>
             </div>
        </div>
      </div>
    </div>
</div>
